<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOGIN</title>
</head>
<body>
    hello {{ user.username }}
    <form action="{% url 'lab9:logout' %}" method="POST" class="test mid" style="color:white">
            {% csrf_token %}
            <div class="unknown test">
                <button type="submit" class="formbutton">Logout</button>
            </div>
    </form>
</body>
</html>