{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style9.css' %}">
    <title>PPW LEONARDO 9</title>
</head>
<body>
    <div>
        <a href="login">
            <button>Login</button>
        </a>
    </div>
</body>
</html>