body{
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 95vh;
}

#accordion > h3, #toggle {
    cursor: pointer;
}

#accordion > h3{
    margin: 0.5em 0 0 0;
    background-color: rgb(99, 99, 99);
    text-align: center;
    border-radius: 5px;
}

#accordion > div {
    background-color: rgba(99, 99, 99, 0.541);
    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    padding: 10px;
    box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.719);
}

#accordion{
    width: 80%;
    max-width: 600px;
}

#change{
    align-self: flex-end;
    position: absolute;
    top: 10px;
    margin: 5px 20px;
}

#toggle{
    transform: scale(1.2);
}
.custom-control-input:checked ~ #toggle::before {
    border-color: rgb(99, 99, 99);
    background-color: rgb(99, 99, 99);

}