.search{
    min-width: 80%
}

.text-align-center{
    text-align: center;
}

.item{
    border-radius: 10px;
    box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.636);
    width: min-content;
    transition: 0.3s;
}

.item:hover{
    transform: scale(1.1);
}

.no, .no:hover, .no:active, .no:visited{
    text-decoration: none;
    color: black;
}

.page-item{
    cursor: pointer;
}

.disabled{
    cursor: default;
}