{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'style.css' %}" />
    <title>PPW LEONARDO 6</title>
</head>
<body>
    <div>
        <h1 id="title">Share your Status Right now</h1>
    </div>
    <div class="dflex-center">
        <form method="POST">
            {% csrf_token %}
            {{form.status_message}}
            <input type="submit" class="button" value="Share">
        </form>
    </div>
    <div class="status dflex-center" name="statuses">
        {% for status in statuses %}
            <div class="item">
                <h3>{{ status.status_message }}</h3>
                <p>{{ status.waktu_pengisian }}</p>
            </div>
        {% endfor %}
    </div>
</body>
</html>