{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style8.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <title>PPW LEONARDO 8</title>
</head>
<body>
    <div class="container">
        <h1 class="text-align-center">Search Your Books Here</h1>
        <div class="d-flex justify-content-center">
            <div class="form-inline active-grey-4 search">
                <input class="form-control form-control-sm mr-3 w-100 text-align-center" id="search" type="text" placeholder="Search" aria-label="Search" autocomplete="off">
            </div>
        </div>
        <div id="result" class="p-1 d-flex flex-wrap"></div>
        <div class="">
            <nav aria-label="...">
                <ul class="pagination justify-content-center">
                  <li class="page-item disabled" id="prev">
                    <p class="page-link"  tabindex="-1">Previous</p>
                  </li>
                  <li class="page-item active">
                    <p class="page-link" id="current">1 <span class="sr-only">(current)</span></p>
                  </li>
                  <li class="page-item" id="next">
                    <p class="page-link" >Next</p>
                  </li>
                </ul>
              </nav>
        </div>
    </div>
</body>
<script src="{% static 'js/script8.js' %}"></script>
</html>