{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="{% static 'css/style7.css' %}" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="{% static 'js/script7.js' %}"></script>
    <title>PPW LEONARDO 7</title>
</head>
<body style="background-color: rgb(255, 255, 255);">
    <div class="custom-control custom-switch" id="change">
        <input type="checkbox" class="custom-control-input" id="customSwitch1" onchange="change()">
        <label class="custom-control-label" for="customSwitch1" id="toggle">Change Theme</label>
    </div>
    <div>
        <h1>Hi I'm Leonardo</h1>
        <p>Here is what i'm doing so far</p>
    </div>
    <div id="accordion">
        <h3>Activity</h3>
        <div>
            <p>Eat</p>
            <p>Sleep</p>
            <p>Code</p>
        </div>
        <h3>Experience</h3>
        <div>
            <p>- PTI 2019</p>
            <p>- Staff Equipment Betis 2019</p>
            <p>- Mentoria Indonesia</p>
        </div>
        <h3>Achievement</h3>
        <div>
            <p>- 3rd Winner of CITD Pekan Ristek 2019</p>
        </div>
    </div>
</body>
</html>